.App {
  text-align: center;
}

.nupp {
  font-weight: bold;
  border-color: blue;
}

.nupp:hover {
  background-color: lightblue;
  cursor: pointer;
}

.nupp:active {
  text-decoration: underline;
}

.pilt {
  /* width: 100px; */
  height: 100px;
  border-radius: 10px;
}

.pilt:hover {
  opacity: 70%;
  cursor: pointer;
}

.pilt:active {
  transform: scale(90%);
}

.summa-aktiivne {
  border-color: brown;
  border-width: 3px;
}

.linn-aktiivne {
  text-decoration: underline;
}

.keel-aktiivne {
  padding: 20px;
  font-weight: bold;
  border-radius: 5px;
  background-color: chocolate;
}

.keel {
  padding: 20px;
  font-weight: bold;
  border-radius: 5px;
}

.map {
  height: 300px;
  margin: 3%;
  border-radius: 20px;
}