.App {
  text-align: center;
}

.nupp {
  font-weight: bold;
  border-color: blue;
}

.nupp:hover {
  background-color: lightblue;
  cursor: pointer;
}

.nupp:active {
  text-decoration: underline;
}

.pilt {
  /* width: 100px; */
  height: 100px;
  border-radius: 10px;
}

.pilt:hover {
  opacity: 70%;
  cursor: pointer;
}

.pilt:active {
  transform: scale(90%);
}